.posts {
  &__container {
    padding: 67px 20px 100px;

    letter-spacing: 0.055em;

    @extend %container;
    @include lg-md {
      padding: 53px 20px 80px;
    }
    @include md-sm {
      padding: 40px 20px 60px;
    }
    @include sm {
      padding: 40px 20px 60px;
    }

    h2 {
      @include sm {
        margin-bottom: 36px;

        text-align: center;
      }
    }
  }



  &__button {
    display: flex;
    justify-content: center;

    padding-top: $gap;
  }
}

.post {
  &-container {
    display: grid;

    grid-gap: $gap;
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    grid-template-columns: repeat(4, 1fr);
    @include lg-md {
      grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
      grid-template-columns: 1fr;
    }
  }

  &-item {
    overflow: hidden;

    padding: 0 0 30px;

    transition: background-color 0.5s, color 0.5s;

    background-color: rgba($color-gray-bg-extra-light, 0.8);

    &:hover img {
      transform: scale(1.1);
    }

    &:hover {
      background-color: $color-gray-bg-light;
    }

    &:hover h3,
    &:hover p {
      color: $color-primary;
    }

    &__image {
      overflow: hidden;

      img {
        display: flex;
        overflow: hidden;
        align-content: center;
        justify-content: center;

        width: 100%;
        height: 300px;
        margin: 0;

        transition: transform 0.5s;

        background-color: $color-primary;

        object-fit: cover;
      }
    }

    &__link {
      display: grid;
      overflow: hidden;

      height: 100%;

      text-align: center;

      color: $color-gray;

      grid-template-rows: 300px 1fr;
    }

    &__title {
      padding-top: 12px;
    }

    &__text {
      display: grid;
      align-content: center;

      margin-bottom: -10px;
      padding: 26px $gap 3px;

      @include md-sm {
        font-size: 0.984rem;
      }
      @include sm {
        font-size: 0.984rem;
      }

      h3 {
        margin: 0;

        letter-spacing: 0.05em;

        color: $color-gray;

        @include md-sm {
          line-height: 1.15;
        }
        @include sm {
          font-size: 1.125rem;
        }
      }

      p {
        padding: 18px 0 0;

        letter-spacing: 0.01em;

        font-size: 0.98rem;
        line-height: 1.14;

        @include md-sm {
          line-height: 1.15;
        }
        @include sm {
          padding: 17px 0 0;
        }
      }
    }
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
