$color-primary: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-bg-extra-light: #eeeeee;
$color-gray-bg-light: #d8d8d8;
$color-gray-dark: #44596e;
$color-light: #ffffff;
