.header-navbar {
  @include md {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    position: relative;

    width: 30px;
    height: 22.5px;
    margin: $gap $gap 0 0;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    @include md-min {
      display: none;
    }
    @include md {
      display: block;
    }

    &-row {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      border-radius: 3px;
      background: $color-light;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
      }
    }

    &--active span {
      &:nth-child(1) {
        top: 9px;

        transform: rotate(135deg);
      }
      &:nth-child(2) {
        left: -30px;

        opacity: 0;
      }
      &:nth-child(3) {
        top: 9px;

        transform: rotate(-135deg);
      }
    }
  }

  &__list {
    margin: 0 0 (-$gap) 0;
    padding: 0;

    list-style: none;

    font-size: 1.125rem;

    @include md-min {
      display: grid;
      justify-content: end;

      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    }
    @include md {
      position: absolute;
      top: 100%;
      right: $gap;

      display: none;

      text-align: right;

      background-color: rgba($color-gray-dark, 0.9);
    }

    &--active {
      display: block !important;
    }
  }

  &__item {
    padding: $gap;
  }

  &__link {
    transition: color 0.5s;

    &:hover {
      color: $color-accent;
    }
  }
}
