.header-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  @include md {
    background-color: rgba($color-gray-dark, 0.25);
  }

  &__container {
    position: relative;

    display: grid;
    align-items: center;

    padding-right: 0;
    padding-bottom: $gap;
    padding-left: 0;

    @extend %container;
    grid-template-columns: auto 1fr;
  }
}
