.header-content {
  position: relative;
  transition: margin-top 0.5s;

  &__container {
    @extend %container;
    margin: 0 -20px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;

    @include lg-min {
      margin: 0 0 53px;
    }
    @include lg-md {
      margin: 0 0 43px;
    }
    @include md {
      margin: 0 0 33px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include sm {
      align-items: center;
      flex-direction: column;
    }

    .btn:first-of-type {
      @include sm-min {
        margin-right: $gap;
      }
      @include sm {
        margin-bottom: $gap;
      }
    }
  }
}
